#outer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.a {
  width: 100%;
}

#l {
  background-color: #62306d;
  display: flex;
  justify-content: center;
}

#r {
  background-color: #f7ec7d;
  display: flex;

  justify-content: center;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: ;
  border-radius: 50%;
  display: inline-block;
  margin-top: 60px;
}

#c1 {
  background-color: #f7ec7d;
}

#c2 {
  background-color: #62306d;
}
